$color-border-gray: #ADADAD50;
$color-gray: #ADADAD;
$color-dark-gray: #707070;
$color-bg: #252525;
$color-bg-secondary: #323232;
$color-white: white;
$color-active: #414141;
$color-success: #0FA440;
$color-warning: #EDB41C;

$border-primary: #723AE8;
$sidebar-width: 420px;
