@import '../../../styles/variables';

.input-search {
  border: 1px solid $color-border-gray;
  border-radius: 4px;
  padding: 4px 8px 4px 16px;
  width: 100%;
  background-color: transparent;
  color: $color-white;
}
